.lista-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .lista-header {
    width: 90%;
    padding: 50px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      font-family: 'Italiana', serif;
      font-size: 40px;
      font-weight: 300;
    }

    .icon-perfil {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 15%;
      border: 3px solid #B05F6D;
      padding: 10px;
      border-radius: 15px;
      cursor: pointer;

      &:hover {
        border-color: #47B39D;
      }
    }

    p {
      font-family: 'Lato', sans-serif;
      font-size: 16px;
    }
  }
}

.table-container {
  width: 90%;
  padding: 0 20px;
}

.MuiTableRow-root:hover { 
  background: #EFDFE2 !important;
  cursor: pointer;
}

.bigModal {
  border-radius: 30px;
  width: 40%;
  height: 30%;
  padding: 30px 50px;
  color: #202020;
  text-align: center;
  line-height: 25px;

  h2 {
    font-size: 25px;
    font-weight: bold;
  }

  p {
    font-size: 16px;
  }
}

.modalButtons {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  Button {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: #202020;
  }

  .simButton {
    background-color: #47B39D;
    width: 40%;
    border-radius: 30px;

    &:hover {
      background-color: #328271;
    }
  }

  .naoButton {
    background-color: #EB6B56;
    width: 40%;
    border-radius: 30px;

    &:hover {
      background-color: #B55444;
    }
  }
}

.css-1qgma8u-MuiButtonBase-root-MuiTableSortLabel-root .MuiTableSortLabel-icon {
  opacity: 100%;
  padding-right: 10px;
}